---
layout: page
title: Screeps Alliance Index
sitemap:
  priority: 1.0
  changefreq: weekly
---

<div class="unit whole">

  <p>This data can also be downloaded in json format in <a href="alliances.js">alliances.js</a>
    for use in game or in your own scripts.</p>

	<p>Want your alliance listed? Make a <a href="https://github.com/LeagueOfAutomatedNations/loan_website">
		pull request!</a></p>

	{% for alliance in site.data.alliances %}
	<h2 id="alliance_{{ alliance[0] }}">{{ alliance[1].name }}</h2>
	<p>
    {% if alliance[1].charter %}
  		<a href="https://screeps.slack.com/messages/{{ alliance[1].charter }}/">
  			Charter
  		</a>
  		<br>
  	{% endif %}
  	{% if alliance[1].slack %}
  	Slack:
  		<a href="https://screeps.slack.com/messages/{{ alliance[1].slack }}/">
  			#{{ alliance[1].slack }}
  		</a>
  		<br>
  	{% endif %}
  	{{ alliance[1].members | size }} members
	</p>
	<ul>
		{% assign members_sorted = (alliance[1].members | sort: "downcase") %}
		{% for member in members_sorted %}
		  <li>
		    <a href="https://screeps.com/a/#!/profile/{{ member }}">
		      {{ member }}
		    </a>
		  </li>
		{% endfor %}
	</ul>
	{% endfor %}

</div>


