---
layout: page
title: Home
sitemap:
priority: 1.0
changefreq: weekly
lastmod: 2014-07-07T16:57:30+05:30
---

<div class="unit whole">

  <p>This data can also be found in <a href="alliances.js">alliances.js</a>

	<p>Want your alliance listed? Make a <a href="https://github.com/LeagueOfAutomatedNations/loan_website">
		pull request!</a></p>

	{% for alliance in site.data.alliances %}
	<h2>{{ alliance[0] }}</h2>
	<p>({{ alliance[1].members | size }} members)</p>
	<ul>
		{% for member in alliance[1].members %}
		  <li>
		    <a href="https://screeps.com/a/#!/profile/{{ member }}">
		      {{ member }}
		    </a>
		  </li>
		{% endfor %}
	</ul>
	{% endfor %}

</div>


