<header>
  <center><img src="/img/leaguelogo.png"></center>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/about.html"><i class="fa fa-info-circle"></i>About</a></li>
        <li><a href="/map.html"><i class="fa fa-map"></i>Alliance Map</a></li>
        <li><a href="https://github.com/LeagueOfAutomatedNations"><i class="fa fa-github"></i>Github</a></li>
      </ul>
    </div>
  </nav>
</header>
