<header>
  <script src="https://cdn.rawgit.com/Haeresis/konami-code-js/master/src/konami-code.js">
  </script>
  <center><img id="leaguelogo" src="/img/leaguelogo.png"></center>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Alliance Index</a></li>
        <li><a href="/map.html"><i class="fa fa-map-marker"></i>Alliance Map</a></li>
        <li><a href="https://github.com/LeagueOfAutomatedNations"><i class="fa fa-github-alt"></i>Github</a></li>
        <li><a href="/about.html"><i class="fa fa-info-circle"></i>About</a></li>
      </ul>
    </div>
  </nav>
</header>
